@using GISModel.Entidades
@using GISModel.DTO.AnaliseRisco
@model GISModel.Entidades.AnaliseRisco

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">
            Análise de Risco
            <a href="" class="btn btn-white btn-info btn-bold" style="float: right; margin-top: -2px;">
                <i class="ace-icon fa fa-plus bigger-120 blue"></i>
                Visulizar Análise de Risco
            </a>
        </h3>
    </div>
</div>
@foreach (var oEmp in ViewBag.Emp)
{
    @*<img src="/Images/AdmissaoImagens/@oEmp.Admissao.IDAdmissao/@oEmp.Admissao.Imagem" alt="Admissao" width="100" />*@

    <div class="row ">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                Empregado:
                @oEmp.Empregado.Nome
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                Empresa:
                @oEmp.Empresa.NomeFantasia
            </div>
        </div>
    </div>


}

<br /><br />

@if (ViewBag.Risco != null)
{



    foreach (AnaliseRiscosViewModel item in ViewBag.Risco)
    {
        using (Ajax.BeginForm("SalvarAnaliseRisco", "AnaliseRisco", null, new AjaxOptions { HttpMethod = "POST", OnBegin = "OnBeginCadastrarAnaliseRisco", OnSuccess = "OnSuccessCadastrarAnaliseRisco", }, new { @id = "formCadastroAnaliseRisco", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            <div class="span12" style="border: 2px solid black">

                <div class="row center">
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <img src="/Images/AtividadesEstabelecimentoImagens/@item.IDAtividadeEstabelecimento/@item.imagemEstab" alt="Atividade" width="150px" />
                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            Atividade:
                            @item.DescricaoAtividade
                            <input type="hidden" name="AtivEstabID" id="AtivEstabID" value=@item.IDAtividadeEstabelecimento />
                            <input type="hidden" name="idATivAlocada" id="idATivAlocada" value=@item.IDAtividadeAlocada />
                        </div>
                    </div>
                </div>
                <br />
            </div><br />
            <div class="row">


                <div class="col-xs-6 col-sm-6 col-lg-6 center">
                    <div class="span12" style="border: 2px solid black">
                        <div class="form-group">
                            <div class="text center">Riscos:</div>
                            <div class="col-xs-12 col-sm-12">
                                @item.Riscos
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xs-6 col-sm-6 col-lg-6 center">
                    <div class="span12" style="border: 2px solid black">
                        <div class="form-group">
                            <div class="text center">Possíveis Danos:</div>
                            <div class="col-xs-12 col-sm-12">
                                @item.PossiveisDanos
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />




            <div class="row">
                <div class="col-xs-6 col-sm-6 col-lg-6">
                    <div class="span12" style="border: 2px solid black">
                        <div class="form-group">
                            @Html.LabelFor(d => d.IDEventoPerigoso, new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right center" })
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                @Html.DropDownListFor(d => d.IDEventoPerigoso, (SelectList)ViewBag.EventoPerigoso, "Selecione um Evento...", new { @class = "chosen-select form-control tag-input-style", @id = "ddlEvento", @autocomplete = "on" })
                                @Html.ValidationMessageFor(d => d.IDEventoPerigoso, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-lg-6">
                    <div class="span12" style="border: 2px solid black">
                        <div class="form-group">
                            @Html.LabelFor(d => d.IDPerigoPotencial, new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right center" })
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                @Html.DropDownListFor(d => d.IDPerigoPotencial, (SelectList)ViewBag.PerigoPotencial, "Selecione um Perigo...", new { @class = "chosen-select form-control tag-input-style", @id = "ddlPerigo", @autocomplete = "on" })
                                @Html.ValidationMessageFor(d => d.IDPerigoPotencial, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <br />


            <div class="row">

                <div class="col-xs-6 col-sm-6 col-lg-6 center">
                    <div class="span12" style="border: 2px solid black">

                        @{

                            string PossuiOMenu6 = string.Empty;

                            if (item.Conhecimento == Convert.ToBoolean(true))
                            {
                                PossuiOMenu6 = "checked=\" ";
                            }
                            else
                            {
                                PossuiOMenu6 = " ";
                            }
                        }

                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-lg-6 center">
                                <a href="#" class="tooltip-info" onclick="" ; return false;" data-rel="tooltip" title="View">
                                    <span class="green">
                                        <i class="fa fa-smile-o bigger-180"></i>
                                    </span>
                                    <input type="radio" name="ConhecID" id="ConhecID" value="True" @PossuiOMenu6>Conheço a Atividade
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-6 col-sm-6 col-lg-6 center">

                    @{

                        string PossuiOMenu5 = string.Empty;

                        if (Convert.ToBoolean(item.Conhecimento) == Convert.ToBoolean(false))
                        {
                            PossuiOMenu5 = "checked=\" ";
                        }
                        else
                        {
                            PossuiOMenu5 = " ";
                        }
                    }
                    <div class="span12" style="border: 2px solid black">
                        <div class="form-group">

                            <div class="col-xs-12 col-sm-12 col-lg-6 center">
                                <a href="#" class="tooltip-info" onclick="" ; return false;" data-rel="tooltip" title="View">
                                    <span class="red">
                                        <i class="fa fa-frown-o bigger-180"></i>
                                    </span>
                                    <input type="radio" name="ConhecID" id="ConhecID" value="False" @PossuiOMenu5>Não conheço a atividade
                                </a>


                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <br />

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-lg-6 center">
                    <div class="span12" style="border: 2px solid black">
                        <div class="form-group">
                            @{

                                string PossuiOMenu2 = string.Empty;
                                if (item.BemEstar == true)
                                {
                                    PossuiOMenu2 = "checked=\" ";
                                }
                                else
                                {
                                    PossuiOMenu2 = " ";
                                }
                            }

                            <div class="col-xs-12 col-sm-12 col-lg-6 center">
                                <a href="#" class="tooltip-info" onclick="" ; return false;" data-rel="tooltip" title="View">
                                    <span class="green">
                                        <i class="fa fa-smile-o bigger-160"></i>
                                    </span>
                                    <input type="radio" name="BemEstarID" id="BemEstarID" value="True" @PossuiOMenu2>Estou bem!
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-lg-6 center">
                    @{

                        string PossuiOMenu3 = string.Empty;
                        if (item.BemEstar == false)
                        {
                            PossuiOMenu3 = "checked=\" ";
                        }
                        else
                        {
                            PossuiOMenu3 = " ";
                        }
                    }
                    <div class="span12" style="border: 2px solid black">
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-lg-6 center">
                                <a href="#" class="tooltip-info" onclick="" ; return false;" data-rel="tooltip" title="View">
                                    <span class="red">
                                        <i class="fa fa-frown-o bigger-160"></i>
                                    </span>
                                    <input type="radio" name="BemEstarID" id="BemEstarID" value="False" @PossuiOMenu3>Não estou bem!
                                </a>


                            </div>
                        </div>
                    </div>
                </div>
            </div>



            string PossuiOMenu4 = string.Empty;
            if (item.AlocaAtividade)
            {
                PossuiOMenu4 = "disabled";
            }
            //}
            <br />

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block btn-responsive" id="btnSalvar" @PossuiOMenu4>
                        @*<button class="btn btn-info" id="btnSalvar" type="submit" @PossuiOMenu4>*@
                        <i class="ace-icon fa fa-check bigger-55"></i>
                        Salvar
                    </button>
                </div>
            </div>
            <br />



        }

    }


}
else
{
    <div class="row">
        <div class="col-xs-12">
            <div class="error-container" style="margin: 0;">
                <div class="well">
                    <h4 class="blue" style="margin: 0;">
                        <i class="ace-icon fa fa-slack bigger-110"></i>
                        Nenhum perfil encontrado
                    </h4>
                </div>
            </div>
        </div><!-- /.col -->
    </div>
}





@section Scripts {


    <script src="~/Scripts/Custom/AnaliseRisco/Novo.js"></script>

}

