@model GISModel.Entidades.Equipe

@{
    ViewBag.Title = "Cadastro de Equipes";
}

<div id="formCadDiretoria">
    <div class="row">
        <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
            <div class="page-header">
                <h1>
                    Cadastro de Equipes
                </h1>
            </div>
        </div>
    </div>

    @using (Ajax.BeginForm("Cadastrar", "Equipe", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessCadastrarEquipe", }, new { @id = "formCadastroEquipe", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(d => d.NomeDaEquipe, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(d => d.NomeDaEquipe, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "" } })
                        @Html.ValidationMessageFor(d => d.NomeDaEquipe, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(d => d.Processo, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(d => d.Processo, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "" } })
                        @Html.ValidationMessageFor(d => d.Processo, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.Label("Empresa", new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownList("Empresa", (SelectList)ViewBag.Empresa, "Selecione uma Empresa...", new { @class = "chosen-select form-control tag-input-style", @id = "ddlEmpresa", @autocomplete = "on" })
                        @Html.ValidationMessage("Empresa", string.Empty, new { @style = "font-size: 10px; color: #a94442;" })

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(d => d.LocalTrablho, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(d => d.LocalTrablho, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "" } })
                        @Html.ValidationMessageFor(d => d.LocalTrablho, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.Label("Departamento", new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownList("Departamento", (SelectList)ViewBag.Departamento, "Selecione um Departamento...", new { @class = "chosen-select form-control tag-input-style", @id = "ddlDepartamento", @autocomplete = "on" })
                        @Html.ValidationMessage("Departamento", string.Empty, new { @style = "font-size: 10px; color: #a94442;" })

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="form-group">
                    @Html.Label("Resumo Atividade", new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(d => d.ResumoAtividade, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "" } })
                        @Html.ValidationMessageFor(d => d.ResumoAtividade, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 align-center">
                <button class="btn btn-info" id="btnSalvar" type="submit">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Salvar
                </button>
                &nbsp;
                <button class="btn btn-warning" type="reset">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    Limpar
                </button>
                &nbsp;
                <a class="btn" href="javascript:history.back()">
                    <i class="ace-icon fa fa-arrow-left"></i>
                    Voltar
                </a>
            </div>
        </div>
    }


</div> <!-- Fim FormQuery -->



@section Scripts {


    <script src="~/Scripts/Custom/Equipe/Novo.js"></script>
}


























